<div class="news-item" (click)="onArticleSelect()">
  <div class="news-item__image">
    <img [src]="article.urlToImage" />
  </div>
  <div class="news-item__content">
    <div class="news-item__title">{{article.title}}</div>
    <div class="news-item__description">{{article.description}}</div>
    <div class="news-item__date">{{article.publishedAt}}</div>
  </div>
  <div class="news-item__buttons">
    <a routerLink="/edit-article" routerLinkActive="active">Edit</a>
    <button>Delete</button>
  </div>
</div>